.auth-modal {
  width: 50%;
  margin: 25%;
  margin-top: 10%;
  color: #fff;
  padding: 60px;
  background-color: #1b19198a;
  position: absolute;
}

@media screen and (max-width: 800px) {
  .auth-modal {
    width: 80%;
    padding: 15px;
    margin: 10%;
  }
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: none !important;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
