.custom-alert-danger {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #ff091f94;
  border-color: #fb0f0f;
}

.custom-alert-success {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #2fff0969;
  border-color: #7afb0f;
}

body {
  background: rgb(36, 36, 36);
  background: linear-gradient(
    90deg,
    rgba(36, 36, 36, 1) 0%,
    rgba(32, 32, 32, 1) 98%
  );
  height: 100%;
}
